<h2><%= @article.title.capitalize %></h2>

<p> <%= @article.body %> </p>
<br>
<p><h5> Comments (<%= @article.comments.size %>) </h5></p>
<br>
<%= render partial: 'comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
<%= link_to "<< Back to Article List", articles_path %>
<%= link_to "delete", article_path, method: :delete, confirm: "Are you sure you want to delete?" %>
<%= link_to "edit", edit_article_path(@article)%>

